.redevelop-elyra-formEditor .form-group.field-array .label-header {
  margin-bottom: 8px !important;
}
.redevelop-elyra-formEditor .form-group {
  padding-top: 0 !important;
  .ant-select-arrow {
    right: 10px;
  }
}
.redevelop-elyra-formEditor .form-control {
  margin-top: 6px !important;
}
/* 表单新增项 */
.redevelop-elyra-pipeline-editor .array-item .field {
  flex: 1;
}
/* 表单移除和添加按钮 */
.redevelop-elyra-pipeline-editor .jp-mod-warn,
.redevelop-elyra-pipeline-editor .jp-mod-reject {
  width: 60px;
}
.redevelop-elyra-pipeline-editor .jp-mod-warn {
  margin-top: 8px !important;
}
/* pipeline编辑器右侧面板tab标题 */
.redevelop-elyra-pipeline-editor .pipeline-right-panel {
  font-size: 16px !important;
}
