.my-host-conf {
  margin-top: 6px;
  .net {
    display: flex;
    align-items: flex-start;
    padding: 0 10px 10px 10px;
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px dashed gray;
    overflow-x: auto;
    .ip-domain {
      display: flex;
      align-items: flex-start;
    }
    button {
      margin-left: auto;
      margin-top: 10px;
      white-space: nowrap;
    }
    .ip,
    .domain-wrap {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
    .ip {
      width: 120px;
    }
    .domain-wrap {
      width: 180px;
    }
    .domain {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 10px;
      a {
        margin-left: 5px;
        margin-top: 10px;
        font-weight: bold;
      }
      .form-control {
        width: 120px !important;
      }
    }
  }
}
